*{
    font-family: "Playfair Display", serif;
}
header{
    background-color:#131842;
}
header span {
    color: beige;
}
.nav-item a{
    color: beige;
}

/*Link visitado*/
.nav-item a:visited{
    color: beige;
}

.nav-item a:hover{
    color:#B3A398
}
#nav-butoon{
    background-color:#A67B5B ;
}
.icono-habilidades{
    color:#131842 ;
    font-size: 2em;
}
.img-proyecto1{
    background-image: url(/assets/Captura\ de\ pantalla\ 2024-07-25\ 205316.png) ;
    
    background-size: contain;
    background-repeat: no-repeat;
    opacity: 0.6;
}
footer{
    background-color: #D1BB9E;
}
footer .icon-footer i{

    color: #686D76;
    font-size: 2rem;
}
footer p{
    color:#686D76
    
}
#app{
    color: rgb(44, 41, 41);
}
